/* Button Styling */

#Button_1{
	background: url(/srcs/twitch_white.svg) no-repeat, #9146FF;
	background-position-x: 38%;
	background-position-y: 50%;
	background-size: 34px;
}
@media (max-width: 754px) {
	#Button_1 {
		background-image: none;
	}
}

#Button_2{
	background: url(/srcs/youtube_white.svg) no-repeat, #FF0000;
	background-position-x: 36%;
	background-position-y: 50%;
	background-size: 40px;
}
@media (max-width: 754px) {
	#Button_2 {
		background-image: none;
	}
}

#Button_3{
	background: url(/srcs/github_white.svg) no-repeat, #555555;
	background-position-x: 37%;
	background-position-y: 50%;
	background-size: 40px;
}
@media (max-width: 754px) {
	#Button_3 {
		background-image: none;
	}
}

#Button_4{
	background: url(/srcs/instagram_white.svg) no-repeat, #E1306C;
	background-position-x: 35%;
	background-position-y: 50%;
	background-size: 34px;
}
@media (max-width: 754px) {
	#Button_4 {
		background-image: none;
	}
}

#Button_5{
	background: url(/srcs/Discord-Logo-White.svg) no-repeat, #7289DA;
	background-position-x: 37%;
	background-position-y: 50%;
	background-size: 50px;
}
@media (max-width: 754px) {
	#Button_5 {
		background-image: none;
	}
}

#Button_6{
	background: url(/srcs/reddit_white.svg) no-repeat, #FF4500;
	background-position-x: 38%;
	background-position-y: 50%;
	background-size: 43px;
}
@media (max-width: 754px) {
	#Button_6 {
		background-image: none;
	}
}

#Button_7{
	background: url(/srcs/ko-fi_black.svg) no-repeat, #29ABE0;
	background-position-x: 39%;
	background-position-y: 50%;
	background-size: 43px;
}
@media (max-width: 754px) {
	#Button_7 {
		background-image: none;
	}
}

button:hover {
	color: white;
}

.button_demon {
	-webkit-box-shadow: 0px 0px 5px 0px #1f1f1f;
	box-shadow: 0px 0px 5px 0px #1f1f1f;
}

button{
	font-family: "PT Serif", serif;
	  cursor: pointer;
	transition: 0.3s;
}

  button:hover{
	transform: translateY(-5px);
}
